.destination-header {
    display: flex;
    margin: 5rem auto 0 5%;
}

.page-number {
    color: #aaa;
    margin-right: 1rem;
}

.body-info-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.images-container {
    width: 55%;
    margin-top: 6rem;
}

.info-container {
    width: 45%;
}

.body-nav-container {
    display: flex;
    margin: 0 auto;
}

.body-nav-item {
    padding: .5rem 0;
    border-bottom: 2px solid transparent;
}

.body-nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

.current-img {
    border-bottom: 2px solid #fff;
}

.hide {
    display: none;
}

.body-nav-spacer {
    padding-right: 2rem;
}

/* Info Body */
.moon-container,
.mars-container,
.europa-container,
.titan-container {
    margin: 2rem 0 0 1rem;
}

.description-container {
    min-height: 17.65rem;
    border-bottom: .5px solid #f1f1f1;
}

.title-header {
    font-size: 5.8rem;
    padding-bottom: 2rem;
}

.planet-info {
    font-size: 1.15rem;
    line-height: 2.35rem;
    padding-bottom: 4rem;
}

.planet-stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 2rem;
}

.stat-header {
    font-size: .85rem;
    color: #aaa;
}

.stat {
    margin-top: .85rem;
    font-size: 1.825rem;
}